.blog-info {
  margin: 15px;
}
.blog-details-title {
  text-align: center;
  font-size: 25px;
}
.author-details {
  display: flex;
  margin-bottom: 3px;
}
.author-pic {
  width: 50px;
  border-radius: 50%;
}
.blog-image {
  border-radius: 5px;
  width: 100%;
}
.blog-content {
  color: #000000;
}
.details-author-name {
  color: #000000;
  font-weight: bold;
}
